<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components.css">
    <title>Komponenter</title>
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <img src="/assets/logo/bonz.ai-logo-black-landscape.png" class="navigation__logo">
            <nav class="navigation__menu">
            <a class="navigation__link" href="">Priser</a>
            <a class="navigation__link" href="">Om oss</a>
            <a class="navigation__link" href="">Mat & dryck</a>
            <a class="navigation__link" href="">Boka</a>
            </nav>
        </nav>
        <section class="hero">
            <section class="hero__background"></section>
            <section class="hero__links">
                <button class="hero__button">boka rum</button>
                <button class="hero__button">boka spa</button>
            </section>
         </section>
    </header>

    <main class="main">
        <article class="main__first">
            <img src="/assets/photos/09-night.jpg" class="main__img">
        <article>
            <h1 class="main__heading"> Din oas i arktis</h1>
            <p class="main__text">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore numquam in voluptate iusto quis rerum perspiciatis cumque quisquam? Pariatur omnis odio quam, doloribus nesciunt et perferendis accusamus tenetur maiores iste?
             Lorem ipsum dolor sit amet consectetur adipisicing elit.   
            </p> 
        </article>
            
        </article>

        <article class="main__second">
            <img src="/assets/photos/03-night.jpg" class="main__img">
            <article>
                <h2 class="main__heading--small"> ett med naturen</h2>
                <p class="main__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora illo quisquam quidem iste laboriosam tenetur iusto repudiandae porro architecto odit ipsa rem hic eveniet ad facilis, dolorem at! Unde.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos corporis, omnis est id quos unde aliquid vero animi error voluptatibus?    
                </p>
                </article>
        </article>
    </main>
    <footer class="footer">
        <article class="footer__container">
            <p class="footer__text">
             tel: 0750 50 50 50<br>
             bonzai@bonzai.com
            </p>
            <p class="footer__address">
                Longyearbyen 55<br>
                9711 Svalbard
            </p>
        
        <article class="footer__links">
            <a href="#"><img class="footer__socialmedia" src="/facebook_logo.png"></a>
            <a href="#"><img class="footer__socialmedia" src="/instagram_logo.png"></a>
        </article>
    </article>
    </footer>

</body>
</html>