* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFFCF8;
    background: linear-gradient(180deg, #FFFCF8 25%, #e5d8c8 75%, #9a9286 100%);
}

.main {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5rem;
}

.main__first {
    grid-column: 1 / span 8;
}

.main__second {
    grid-column: 1 / span 8;
}

@media only screen and (max-width: 700px) {
    .navigation__link {
        font-weight: 700;
        font-size: 15px;
        padding: 0.5rem;
    }
    .navigation__logo {
        width: 100px;
        height: 37px;
        margin-left: 0.5rem;
    }
    .navigation__link:hover {
        background: none;
    }
    .main {
        grid-template-columns: repeat(1, 1fr);
    }
    .main__first {
        flex-direction: column;
        grid-column: 1 / span 1;
    }
    .main__img {
        width: 100%;
        padding: 1rem;
    }
    .main__second {
        flex-direction: column;
        grid-column: 1 / span 1;
    }
    .footer__text {
        margin: 0;
    }
    .footer__address {
        margin: 0;
    }
    .footer__links {
        margin:0;
        margin-top: 1rem;
    }    
}
